html{
    background-color: #5F9CA2;
    margin: 0;     
}
li {
  display: inline;
}
.Nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 20px;
    font-family: 'black 900';
    width: 100%;
}
.Nav{
    position: sticky;
    text-align: center;
    font-family: 'calibri';
    font-size: 50px;
    color: #A2655F;
    background-color: #A2655F;
}
a:link{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(0, 0, 0);
}
.p1>p{
  text-align: justify;
  text-indent: 100px;
  width: 550px;
  margin-left: 585px;
  margin-top: 50px;
  font-size: 25px;
}
.p2>p{
  text-align: justify;
  text-indent: 100px;
  width: 550px;
  margin-left: 100px;
  margin-top: 50px;
  font-size: 25px;
}
#vid{
  float: right;
  margin-right: 100px;
}
#pic{
  margin-left: 100px;
  float: left;
}
footer {
    background-color: peachpuff;
    color: #000000;
    padding: 20px;
    text-align: center;
    height: 300px;
    position: relative;
    top: 400px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 32px; 
    height: 31px; 
    margin: 0 10px;
    background-image: url('../images/Social.png');
    background-repeat: no-repeat;
    border-radius: 30px;
    
    right: 650px;
    bottom: 360px;
  }
  
  .symon {
    background-position: -343px -145px; 
  }
  
  .Kierra {
    background-position: -343px -145px; 
  }
  
  .Renzo {
    background-position: -343px -145px; 
  }
  .symon:hover{
    background: url('../images/Social.png') no-repeat -343px -75px;
	width: 32px;
	height: 31px;
  }
  .Kierra:hover{
    background: url('../images/Social.png') no-repeat -343px -75px;
	width: 32px;
	height: 31px;
  }
  .Renzo:hover{
    background: url('../images/Social.png') no-repeat -343px -75px;
	width: 32px;
	height: 31px;
  }

  footer h1{
    
    right:650px;
    bottom: 270px;
  }
  .dogs{
    
    right: 650px;
    bottom: 260px;
  }
  .Trademark{
    
    bottom: 150px;
  }
  footer>img{
    
    bottom: 450px;
  }