html{
  background-color: #5F9CA2;
}
h1{
  border: #A2655F;
  padding: 20px;
  background-color: #A2655F;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
.Shrimp{
  position: relative;
  top: 100px;
  left: 600px;
}
.Lobster{
  position: relative;
  top: 80px;
  left: 350px;
}
.Crayfish{
  position: relative;
  top: 80px;
  left: 150px;
}
.Crab{
  position: relative;
  top: 80px;
}

ul {
  list-style-type: none;
}
li {
  float: left;
}
h1 {
  clear: left;
}
.Symon{
  background: url('/images/Social.png') no-repeat -343px -145px;
	width: 32px;
	height: 31px;
}
.Symon img:hover {
  transform: scale(1.1);
  filter: grayscale(50%);
}
.Kierra{
  background: url('/images/Social') no-repeat -343px -145px;
	width: 32px;
	height: 31px;
}
.Kierra img:hover {
  transform: scale(1.1);
  filter: drop-shadow(50%);
}
.Renzo {
	background: url('/images/Social') no-repeat -343px -145px;
	width: 32px;
	height: 31px;
}
.Renzo img:hover {
  transform: scale(1.1);
  filter: drop-shadow(50%);
}

