html {
  background-color: #5f9ca2;
}
li {
  display: inline;
}
.Nav a {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 20px;
  font-family: "black 900";
}
.Nav {
  position: sticky;
  font-family: "calibri";
  font-size: 50px;
  color: #a2655f;
  background-color: #a2655f;
  text-align: center;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgb(0, 0, 0);
}
.p1 > p {
  text-align: justify;
  text-indent: 100px;
  width: 550px;
  font-size: 25px;
  margin-left: 600px;
}
#pic {
  margin-left: 150px;
  float: left;
}
#vid {
  margin-right: 150px;
  float: right;
}
.p2 > p {
  text-align: justify;
  text-indent: 100px;
  width: 550px;
  font-size: 25px;
  margin-right: 250px;
  margin-left: 150px;
  margin-top: 150px;
}
.symon:hover {
  background: url("../images/Social.png") no-repeat -343px -75px;
  width: 32px;
  height: 31px;
}
.Kierra:hover {
  background: url("../images/Social.png") no-repeat -343px -75px;
  width: 32px;
  height: 31px;
}
.Renzo:hover {
  background: url("../images/Social.png") no-repeat -343px -75px;
  width: 32px;
  height: 31px;
}
footer {
  background-color: peachpuff;
  color: #000000;
  padding: 20px;
  text-align: center;
  height: 350px;
  position: relative;
  top: 800px;
  width: 100%;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  width: 32px;
  height: 31px;
  margin: 0 10px;
  background-image: url("../images/Social.png");
  background-repeat: no-repeat;
  border-radius: 30px;

  right: 650px;
  bottom: 360px;
}

.symon {
  background-position: -343px -145px;
}

.Kierra {
  background-position: -343px -145px;
}

.Renzo {
  background-position: -343px -145px;
}
footer h1 {
  right: 650px;
  bottom: 270px;
}
.dogs {
  right: 650px;
  bottom: 260px;
}
.Trademark {
  bottom: 150px;
}
footer > img {
  bottom: 450px;
}
